body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 5000px;
  background-color: black;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  text-transform: none;
  font-size: 1rem;
  font-weight: normal;
}

.hugeCode {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  text-transform: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.basicText {
  margin-left: 2%;
  font-size: 3rem;
}

.basicTextFAQ {
  font-size: 3rem;
  text-align: center;
}

.description {
  margin-left: 2%;
  font-size: 1rem;
  opacity: 60%;
}

.basicTextTransparent {
  margin-left: 2%;
  opacity: 80%;
  font-size: 3rem;
}

.emailBtn {
  background-color: rgb(38, 38, 38);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(to right, rgba(255, 0, 100), rgb(255, 86, 120));
  border-radius: 15px;
  transform-origin: 50% 50% 0px;
}

.emailBtn:hover {
  opacity: 90%;
}

.navigationMenu {
  position: absolute;
  top: 110%;
  height: auto;
  width: 350px;
  background-color: rgb(38, 38, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(5%);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  transition: transform 0.3s ease-in-out;
}

.navigationBtn {
  height: 5vh;
  width: 100%;
  margin-bottom: 5%;
  background-color: rgb(53, 53, 53);
  border: none;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  text-transform: none;
  font-size: 1rem;
  font-weight: normal;
}

.linkNavigation {
  /* width: 100%; */
}

.navigationBtn:hover {
  opacity: 100%;
  background-color: white;
  color: black;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.aboutMe {
  color: white;
  padding-left: 5%;
  padding-top: 2%;
}

.services {
  color: white;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.contactMe {
  color: white;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.workExperience {
  color: white;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.FAQ {
  color: white;
  padding-left: 5%;
}

.MuiCard-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myName {
  margin-left: 2vh;
}


@-o-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }

  40% {
    -o-transform: translateY(-30px);
  }

  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  margin-top: 8%;
}

#my-input {
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  padding: 5%;
  width: 30vw;
  background: none;
  margin-bottom: 2%;
}

#my-textarea {
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  padding: 5%;
  width: 55vw;
  margin-left: 0%;
  background: none;
  margin-bottom: 2%;
}

.bringLeft {
  transform: translateX(-45%);
  transition: transform 0.3s ease-in-out;
}

.label {
  color: white;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 2%;
  margin-bottom: 2%;
}

.bringLeftText {
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
}

.plusQuestion {
  color: white;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 1%;
}

.plusQuestion:hover {
  color: black;
  background-color: white;
}

.question {
  margin-left: 1%;
}

.response {
  margin-left: 1%;
  font-weight: 200;
}

.sectionClass {
  position: relative;
  display: block;
}

.row {
  width: 980px;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.sectiontitle {
  background-position: center;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: white;
}

.fullWidth {
  width: 100%;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}

.cbp_tmtimeline {
  margin: 60px 30px 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 3%;
  bottom: 0;
  width: 10px;
  background: rgb(255, 86, 120);
  left: 13%;
  height: 100%;
}

.cbp_tmtimeline li:last-child:before {
  content: initial;
}

.cbp_tmtimeline>li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline>li .cbp_tmtime span {
  display: block;
  text-align: right;
}

.cbp_tmtimeline>li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
}

.cbp_tmtimeline>li .cbp_tmtime span:last-child {
  font-size: 2.9em;
}

.cbp_tmtimeline>li:nth-child(odd) .cbp_tmtime span:last-child {
  color: white;
}

.cbp_tmtimeline>li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: rgb(53, 53, 53);
  border: 4px solid rgb(255, 86, 120);
  padding: 30px;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
  min-height: 150px;
}

.cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
  background: rgb(53, 53, 53);
}

.cbp_tmtimeline>li .cbp_tmlabel h3 {
  margin-top: 0px;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

.cbp_tmtimeline>li .cbp_tmlabel h4 {
  opacity: 0.7;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0px;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 600;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  text-align: left;
}

.cbp_tmtimeline>li .cbp_tmlabel h4 i {
  margin-right: 5px;
  vertical-align: middle;
}

.cbp_tmtimeline>li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: rgb(255, 86, 120);
  border-width: 10px;
  top: 70px;
}

.cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: rgb(255, 86, 120);
}

.cbp_tmtimeline>li .cbp_tmicon {
  width: 150px;
  height: 150px;
  top: 3%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: white;
  background: rgb(53, 53, 53);
  border: 4px solid rgb(255, 86, 120);
  border-radius: 50%;
  text-align: center;
  left: 8%;
  margin: 0 0 0 -25px;
}

.cbp_tmtimeline li {
  margin-bottom: 70px;
  position: relative;
}

.sectionClassProject {
  position: relative;
  display: block;
  /* background: #f7f7f7; */
  margin: 0 auto;
  padding: 80px 1.875em 3.125em;
}

.projectParagraph {
  font-size: 18px;
  text-align: left;
  margin: 0.5em 0 0;
}

.projectParagraphLink {
  font-size: 15px !important;
  font-weight: 500 !important;
  margin-top: 50px !important;
  margin-bottom: 0px;
  text-align: right;
}

.projectParagraphLink a {
  color: white;
  text-decoration: underline;
}

.cbp_tmicon  {
  padding: "5%";
}

.icon{
  font-size: 5%;
}

.faPra {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 70px;
  vertical-align: middle;
  color: white;
  line-height: 150px;
}

.date {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 15px;
}

.date i {
  margin-right: 5px;
  vertical-align: top;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .cbp_tmtimeline:before {
    display: none;
  }

  .cbp_tmtimeline>li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .cbp_tmtimeline>li .cbp_tmtime span {
    text-align: left;
  }

  .cbp_tmtimeline>li .cbp_tmlabel {
    margin: 30px 0 70px 0;
    padding: 50px 30px 30px 30px;
    font-weight: 400;
    font-size: 95%;
    float: left;
  }

  .cbp_tmtimeline>li .cbp_tmlabel:after {
    right: auto;
    border-right-color: transparent;
    border-bottom-color: rgb(255, 86, 120);
    top: -20px;
  }

  .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: rgb(255, 86, 120);
    left: 65px;
  }

  .cbp_tmtimeline>li:nth-child(even) .cbp_tmlabel:after {
    right: 65px;
  }

  .cbp_tmtimeline>li:nth-child(odd) .cbp_tmicon {
    position: relative;
    float: left;
    left: auto;
  }

  .cbp_tmtimeline>li:nth-child(even) .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
  }

  .cbp_tmtimeline>li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}

@media (max-width: 32em) {
  .cbp-ntaccordion {
    font-size: 70%;
  }
}


.about-me-img {
  width: 120px;
  height: 120px;
  left: 10px;
  position: relative;
  border-radius: 100px;
}

.authorWindow {
  width: 600px;
  background: rgb(255, 86, 120);
  padding: 22px 20px 22px 20px;
  border-radius: 5px;
  overflow: hidden;
}

.authorWindowWrapper {
  display: none;
  left: 110px;
  top: 0;
  padding-left: 25px;
  position: absolute;
}

.trans {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
  .authorWindow {
    width: 210px;
  }

  .authorWindowWrapper {
    bottom: -170px;
    margin-bottom: 20px;
  }
}